.row
	.content-menu
		ul.menu
				a.tab-active(href="#" class="tab" data-collection="1" data-trigger="0") 
					li РЕКОМЕНДАЦІЇ
				a(href="#" class="tab" data-collection="1" data-trigger="1") 
					li ХІТИ ПРОДАЖ
				a(href="#" class="tab" data-collection="1" data-trigger="2") 
					li НОВИНКИ
				a(href="#" class="tab" data-collection="1" data-trigger="3") 
					li АКЦІЇ
				