.footer
	.row.small-up-1.medium-up-3.large-up-5
		.footer-menu.column.hide-for-medium-only.hide-for-small-only
			ul
				p Магазин
				li
					a(href="#") Прокат
				li
					a(href="#") HUSKY Клуб
				li
					a(href="#") Доставка і оплата
				li
					a(href="#") Husky tavel
		.footer-contact.column
			ul
				p Контакти
				li
					a(href="#") 0 800 500 500
				li
					a(href="#") HUSKYUA
				li
					a(href="#") Ми  соціальних мережах
		.footer-schedule.column 
			p Графік роботи магазину
			span Пн-Вс 10:00-21:00
			p Онлайн замовлення
			span Пн-Вс 10:00-21:00
		.our-shops.column
			ul
				p Наші магазини
				li
					a(href="#") м.Івано-Франківськ, вул. С. Василіянок, 68
				li
					a(href="#") м.Київ, вул. Т. Шевченко, 121а
		.footer-soc.column.hide-for-medium-only.hide-for-small-only
			.fb-page(data-href="https://www.facebook.com/huskyif/" data-tabs="timeline" data-width="240" data-height="180" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
				blockquote(cite="https://www.facebook.com/huskyif" class="fb-xfbml-parse-ignore")
					a(href="https://www.facebook.com/huskyif") HUSKY Sport
					
	.fb-mobile.hide-for-large
		.fb-page(data-href="https://www.facebook.com/huskyif/" data-tabs="timeline" data-width="280" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false")
			blockquote(cite="https://www.facebook.com/huskyif/" class="fb-xfbml-parse-ignore")
				a(href="https://www.facebook.com/huskyif/") HUSKY Sport				
	
	.row
		.footer_text
			span Пригоди поруч!
	
	
			
	
