
doctype

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" lang="en-US")
<!--<![endif]-->

head
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
title test
meta(name="description" content="")
meta(name="copyright" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")

script(type="text/javascript" src="dist/scripts/jquery.js")
script(type="text/javascript" src="dist/scripts/main.js")


link(rel="stylesheet" href="dist/styles/main.css")

//link(rel="stylesheet" href="dist/styles/lightslider.css")

link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="shortcut icon" type="image/png" href="dist/images/favicon.png")

link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css")

//script( type="text/javascript" src="dist/scripts/lightslider.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")

body
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->