.header
	.header__top
		.bg
			.row
				.top-line-menu.columns.medium-6.large-4.small-6
					ul.clearfix
						li
							a(href="#") Магазин
						li
							a(href="#") Кабінет
				.top-line-text.columns.medium-4.text-center.large-4
					a.active(href="#") Подорожуй з Husky travel. Дізнайся більше
					a(href="#") Дізнайся більше
					a(href="#") Подорожуй з Husky travel
				.columns.medium-6.large-4.small-6.top-line-tel
					.top-line-lang
						ul
							li
								a.active(href="#") ua
							li
								a(href="#") ru
					.top-line-phone
						span.hide-for-small-only Безкоштовно:
						i.fa.fa-phone(aria-hidden="true")
						a(href="") 0 800 500 502
	.header__mid
		.row.columns
			.logo
				a(href="#")
					img(src="assets/images/logo.png", alt="logo")
			.registration
				.cart
					.cart__sum 1 350 грн. 
					.cart__icon
						img(src="assets/images/cart.png", alt="")
						span 2
					.registration__btn
						a(href="") Увійти
						a.active(href="") Реєстрація
	.header__bottom
		
		.row.columns
			ul.menu#header-menu
				.mob_open
					.icon
						.burger
				a(href="#") 
					li ОДЯГ
				a(href="#") 
					li ВЗУТТЯ
				a(href="#") 
					li ПРОКАТ
				a(href="#") 
					li СПОРЯДЖЕННЯ
				a(href="#") 
					li ВЕЛО
				a(href="#") 
					li СНОУБОРД
				a(href="#") 
					li ЛИЖІ
				a(href="#") 
					li ДОСТАВКА / ОПЛАТА
				a(href="#") 
					li HUSKY Клуб
				a(href="#") 
					li АКЦІЇ
				