.row
	.MenuImege.clearfix
			.column.large-6.medium-12
				a(href="#")
					.MenuImege__item.MenuImege__item_big.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-1.jpg)")
						.MenuImege__item-text
							span Прокат зимового спорядження

				a(href="#")
					.MenuImege__item.MenuImege__item_md.large-12.medium-12.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-6.png)")
						.MenuImege__item-text
							span Вело


			.column.large-6.medium-12
				a(href="#")
					.MenuImege__item.MenuImege__item_small.large-6.medium-6.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-2.jpg)")
						.MenuImege__item-text
							span Сноуборд

				a(href="#")
					.MenuImege__item.MenuImege__item_small.large-6.medium-6.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-3.jpg)")
						.MenuImege__item-text
							span Посуд

				a(href="#")
					.MenuImege__item.MenuImege__item_small.large-6.medium-6.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-4.jpeg)")
						.MenuImege__item-text
							span Лижі

				a(href="#")
					.MenuImege__item.MenuImege__item_small.large-6.medium-6.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-5.jpg)")
						.MenuImege__item-text
							span рюкзаки
				a(href="#")
					.MenuImege__item.MenuImege__item_md.large-12.small-12
						.MenuImege__item-img(style="background:url(assets/images/menu_item-7.jpg)")
						.MenuImege__item-text
								span Намети
			.column.large-6
				
					.MenuImege__item.MenuImege__item_md.large-12.small-12.hide-for-medium-only.hide-for-small-only
						.MenuImege__item-img.blur(style="background:url(assets/images/menu_item-8.jpg)")
						.menu-imege-logo
							img(src="assets/images/husky-logo.png", alt="")
						.menu-imege-text.text-center
							p HUSKY club
							span накопичуй, та купуй дешевше
						.menu-imege-btn.text-center
							a(href="#") дізнатися більше
			.column.large-6
				
					.MenuImege__item.MenuImege__item_md.large-12.small-12.hide-for-medium-only.hide-for-small-only
						.MenuImege__item-img.blur(style="background:url(assets/images/menu_item-9.jpg)")
						.menu-imege-logo
							img(src="assets/images/husky-logo_green.png", alt="")
						.menu-imege-text.text-center
							span Нові тури на HUSKY travel
						.menu-imege-btn.text-center
							a(href="#") дізнатися більше