.menu-imege.clearfix

		
	a(href="#").menu-imege__item.menu-imege__item_big.large-6.medium-12.small-12(style="background:url(assets/images/menu_item-1.jpg)")
		.menu-imege__item-text
			span Прокат зимового спорядження
	.large-6.small.medium-12.small-12
		a(href="#").menu-imege__item.menu-imege__item_small.large-6.medium-6.small-12(style="background:url(assets/images/menu_item-2.jpg)")
			.menu-imege__item-text
				span  Сноуборд


		a(href="#").menu-imege__item.menu-imege__item_small.large-6.medium-6.small-12(style="background:url(assets/images/menu_item-3.jpg)")
			.menu-imege__item-text
				span Посуд


		a(href="#").menu-imege__item.menu-imege__item_small.large-6.medium-6.small-12(style="background:url(assets/images/menu_item-4.jpeg)")
			.menu-imege__item-text
				span Лижі


		a(href="#").menu-imege__item.menu-imege__item_small.large-6.medium-6.small-12(style="background:url(assets/images/menu_item-5.jpg)")
			.menu-imege__item-text
				span рюкзаки
			
	a(href="#").menu-imege__item.menu-imege__item_md.large-6.medium-12.small-12(style="background:url(assets/images/menu_item-6.png)")
		.menu-imege__item-text.text-right
			span Вело

	a(href="#").menu-imege__item.menu-imege__item_md.large-6.medium-12.small-12(style="background:url(assets/images/menu_item-7.jpg)")
		.menu-imege__item-text.text-left
				span Намети


	.menu-imege__item.menu-imege__item_md.large-6.medium-12.small-12.hide-for-medium-only.hide-for-small-only(style="background:url(assets/images/menu_item-8.jpg)")
		.menu-imege-logo
			img(src="assets/images/husky-logo.png", alt="")
		.menu-imege-text
			p HUSKY club
			span накопичуй, та купуй дешевше
		.menu-imege-btn
			a(href="#") дізнатися більше
			

	.menu-imege__item.menu-imege__item_md.large-6.medium-12.small-12.hide-for-medium-only.hide-for-small-only(style="background:url(assets/images/menu_item-9.jpg)")
		.menu-imege-logo
			img(src="assets/images/husky-logo_green.png", alt="")
		.menu-imege-text
			span Нові тури на HUSKY travel
		.menu-imege-btn
			a(href="#") дізнатися більше