.news.clearfix
	.news_title
		span НОВИНИ
	.large-3.column.medium-6.small-12
		a(href="#")
			.news-item
				.news-item__img
					img(src="assets/images/news-item-1.png", alt="")
				.news-item__text
					p Оновлення асортименту спальних мішків
					span  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.news-item__btn
						a(href="#") Дізнатися більше 
							i.fa.fa-caret-right(aria-hidden="true")
	.large-3.column.medium-6.small-12
		a(href="#")
			.news-item
				.news-item__img
					img(src="assets/images/news-item-1.png", alt="")
				.news-item__text
					p Оновлення асортименту спальних мішків
					span  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.news-item__btn
						a(href="#") Дізнатися більше 
							i.fa.fa-caret-right(aria-hidden="true")
	.large-3.column.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.news-item
				.news-item__img
					img(src="assets/images/news-item-1.png", alt="")
				.news-item__text
					p Оновлення асортименту спальних мішків
					span  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.news-item__btn
						a(href="#") Дізнатися більше 
							i.fa.fa-caret-right(aria-hidden="true")
	.large-3.column.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.news-item
				.news-item__img
					img(src="assets/images/news-item-1.png", alt="")
				.news-item__text
					p Оновлення асортименту спальних мішків
					span  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.news-item__btn
						a(href="#") Дізнатися більше
							i.fa.fa-caret-right(aria-hidden="true")
	.row
		.news_btn
			a(href="#") Більше новин
