.products.active(data-collection="1" data-target="0")

	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-1.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.row.column
		.products__btn
			a(href="#") Магазини
				i.fa.fa-caret-right(aria-hidden="true")


.products(data-collection="1" data-target="1")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-2.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.row.column
		.products__btn
			a(href="#") Магазини
				i.fa.fa-caret-right(aria-hidden="true")

.products(data-collection="1" data-target="2")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-3.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.row.column
		.products__btn
			a(href="#") Магазини
				i.fa.fa-caret-right(aria-hidden="true")

.products(data-collection="1" data-target="3")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термофутболка з довгим рукавом Black Thermo
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Рюкзак HUSKY MINEL 22
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Светр HUSKY Milgo M
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.column.large-3.medium-6.small-12.hide-for-medium-only.hide-for-small-only
		a(href="#")
			.products-item
				.products-item__text
					span Термогорнятко HUSKY FRESCO 450
				.products-item__img
					img(src="assets/images/product-item-4.png", alt="")
				.products-item__prise
					span 1 150 грн.
				.products-item__more
					span Детальніше
					i.fa.fa-caret-right(aria-hidden="true")
	.row.column
		.products__btn
			a(href="#") Магазини
				i.fa.fa-caret-right(aria-hidden="true")

