.reviews.clearfix
	.row
		.reviews__title
			span Відгуки наших покупців
		.reviews-slider
			- var n = 0;
			while n < 5
				-n++
				.reviews-item
					.reviews-item__foto
						img(src="assets/images/reviews-item-1.png", alt="")
					.reviews-item__cont
						.name
							span Марія
						.star
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
						.coment
							span Завжди підкажуть та допоможуть!) Завжди цікаві пропозиції та знижки. Рекомендую!)
				.reviews-item
					.reviews-item__foto
						img(src="assets/images/reviews-item-1.png", alt="")
					.reviews-item__cont
						.name
							span Марія
						.star
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
							i.fa.fa-star(aria-hidden="true")
						.coment
							span 	Із задоволенням час від часу отоварююся в Хаскі-спорт. Обслуговування і доставка - на вищому рівні.
		.reviews-arrows
			.reviews-prew
			.reviews-next
		.reviews__btn
			a(href="#") Додайте свій відгук
