.slider-wrap
	.next
	.prew
	.slider-home
		a(href="#").slider-item
			img(src="assets/images/slide_1-1.png", alt="")
				
			.slider-item__text
				span Гірськолижне екіпірування зі скидкою до -50%
			.slider-item__btn
				object
					a(href="##") Вибрати
		a(href="#").slider-item
			img(src="assets/images/slide_2-2.png", alt="")
			.slider-item__text
				span Гірськолижне екіпірування зі скидкою до -50%
			.slider-item__btn
				object
					a(href="#") кнопка 1
					a(href="##") кнопка 2
					a(href="###") кнопка 3
		a(href="#").slider-item
			img(src="assets/images/slide_3-3.png", alt="")
			.slider-item__text
				span Гірськолижне екіпірування зі скидкою до -50%
			.slider-item__btn
				object
					a(href="#") кнопка 1
					a(href="##") кнопка 2
