@import "common/_variables";
@import "settings/_settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
// endbower

@include foundation-everything;

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce"; 

@font-face {
	font-family: "ArialRegular";
	src: url("../../assets/fonts/ArialRegular.ttf");
}
@font-face {
	font-family: "ArialBold";
	src: url("../../assets/fonts/ArialBold.ttf");
}
@font-face {
	font-family: "ArialBoldItalic";
	src: url("../../assets/fonts/ArialBoldItalic.ttf");
}

body{
	max-width: 1440px;
	margin: 0 auto;
	outline: 0px solid red;
	font-size: 16px;
	font-family: "ArialRegular";
}

.header{
	position: relative;
	.header__top{
		
		padding-bottom: 3px;
		.bg{
			background: #3d3d3d;
			max-width: 1440px;
			margin: 0 auto;
			padding-bottom: 3px;
		}
		ul{
			margin: 0;
			li{
				float: left;
				list-style: none;
				margin-right: 17px;
				a{
					transition: 0.2s;
				}
				
				&:hover{
					a{
						color: #ec5941;
					}
					
				}
			}
		}
		a{
			color: #fff;
			font-size: 13px;
		}

		.top-line-menu{ 
			font-family: "ArialBold";
		}

		.top-line-text{
			a{
				color: #ec5941;
				font-size: 13px;
				font-family: "ArialRegular";
				padding-top:4px;
				display: none;
				&.active{
					display: inline-block;
				}
			}
			
		}
		.top-line-phone{
			float: right;
			white-space: nowrap;
			color: #fff;
			font-family: "ArialBold";
			padding-top:1px;
			span{
				font-family: "ArialRegular";
				font-size: 13px;
				margin-right: 5px;
			}
			i{
				font-size: 12px;
			}
		}
		.top-line-lang{
			float: right;
			margin-left: 46px;
			li{
				margin-right: 4px;
				a.active{
					
					background: #ec5941;
					border-radius: 50%;
					width: 17px;
					height: 17px;
					padding: 0 0px 0 2px;
					display: inline-block;
					font-size: 11px;
				}
				a{
					font-family: "ArialRegular";
					font-size: 11px;
					&:hover{
						color: #fff;

					}
				}
				&:hover{
					a{
						color: #fff;
					}
					
				}
			}
		}
		&.fix{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99999999;
		}
	}
	.header__mid{
		background-image: url(../../assets/images/header_bg.png);
		padding: 30px 0;
		background-position: 0px 35px;
    	background-repeat: no-repeat;
		&>.row{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		.logo{
		}
		.cart{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			&__sum{
				background: #fff;
				padding: 5px;
				-webkit-box-shadow: 0 0 15px -9px #191919;
				box-shadow: 0 0 8px -3px #191919;
				margin-right: 5px;
				font-family: "ArialBold";
				font-size: 12px;
			}
			&__icon{
				position: relative;
				span{
					position: absolute;
					border-radius: 50%;
					background: #ec5941;
					color: #fff;
					display: block;
					width: 12px;
					height: 12px;
					top: -1px;
    				right: 2px;
					font-size: 8px;
					font-family: "ArialBold";
					padding-left: 3px;
					padding-top: 1px;
				}
			}
			
		}
		.registration{
			margin-left: auto;
			
		}
		.registration__btn{
			margin-left: 15px;
			position: static;
			z-index: 999;
			a{
				padding: 5px 10px;
				color: #000;
				transition: 0.2s;
				font-family: "ArialBold";
				font-size: 15px;
				&:hover{
					background: #000;
					color: #fff;
				}
				&.active{
					background: #000;
					color: #fff;
				}
			}
			
		}
		
		
	}
	.header__bottom{
		padding: 26px 0 18px 0;
		position: relative;
		transition: 0.5s;
		text-align: center;
		&.fix{
			position: fixed;
			left: 0;
			right: 0;
			top: 28px;
			background: #fff;
			padding: 10px 0;
			z-index: 99999999;
		}
		#header-menu{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			a{
				flex-grow: 1;
			}
		}
	}
}

.mob_open{
	position: relative;
	display: none;
	.icon {
		width: 55px;
		height: 40px;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 4;
		cursor: pointer;
		display: block; 
		position: absolute;
		top: 22px;
		right: -80px;
		.burger {
			width: 35px;
			height: 5px;
			background: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			-moz-transition: 0.5s;
			transition: 0.5s; 
			&:before{
				content: '';
				width: 35px;
				height: 5px;
				background:#000;
				position: absolute;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				-moz-transition: 0.5s;
				transition: 0.5s; 
				top: -12px;
				left: 0px;
			}
			&:after{
				content: '';
				width: 35px;
				height: 5px;
				background:#000;
				position: absolute;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				-moz-transition: 0.5s;
				transition: 0.5s; 
				top: 12px;
				left: 0px;
			}
		}
		&.active{
			.burger{
				background: transparent; 
				&:before{
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 0;
				}
				&:after {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 0; 
				}
			}
		}
		
	}

}

.menu{
	margin: 0;
	list-style: none;
	a{
		padding: 0px 13px;
		display: inline-block;
		border-right: 1px solid #bdbbbc;
		text-transform: uppercase;
		color: #000;
		font-family: "ArialBold";
		font-size: 19px;
		transition: 0.2s;
		&:last-child{
			border: none;
		}
		&:hover{
			color: #ec5941;
		}
		&.tab-active{
			color: #ec5941;
		}
	}
}

.slider-wrap{
	position: relative;
	.slider-item{
		position: relative;
		background-repeat: no-repeat!important;
		background-size: cover!important;
		.slider-item__text{
			position: absolute;
			right: 64px;
    		bottom: 104px;
			font-family: "ArialBold";
			font-size: 52px;
			color: #fff;
			text-align: center;
			line-height: 1.2;
			padding-left: 25px;
		}
		.slider-item__btn{
			position: absolute;
		    right: 0;
			left: 0;
    		bottom: 45px;
			text-align: center;
			a{
				display: inline-block;
				padding: 12px 37px;
				color: #000;
				background: #fff;
				font-size: 18px;
				transition: 0.2s;
				font-family: "ArialBold";
				margin: 0 5px;
				&:hover{
					color: #fff;
					background: #ec5941;
				}
			}
		}
			img{
				width: 100%;
			}
		
	}
	.prew{
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -50px;
		left: 49px;
		height: 65px;
		width: 30px;
		opacity: 1;
		transition: 0.5s;
		z-index: 99999;
		&:after{
			content: '';
			display: block;
			width: 4px;
			height: 41px;
			background-color: #fff;
			transform: rotate(-43deg);
			position: relative;
			top: -12px;
			left: 12px;
		}
		&:before{
			content: '';
			display: block;
			width: 4px;
			height: 39px;
			background-color: #fff;
			transform: rotate(43deg);
			left: 11px;
			position: relative;
		}
	}

	.next{
		position: absolute;
		height: 65px;
		width: 30px;
		top: 50%;
		margin-top: -50px;
		right: 49px;
		cursor: pointer;
		opacity: 1;
		transition: 0.5s;
		z-index: 99999;
		&:before{
			content: '';
			display: block;
			width: 4px;
			height: 39px;
			background-color: #fff;
			transform: rotate(-43deg);
			position: relative;
			left: 11px;
		}
		&:after{
			content: '';
			display: block;
			width: 4px;
			height: 41px;
			background-color: #fff;
			transform: rotate(43deg);
			position: relative;
			top: -12px;
			left: 12px;
		}

	}
}

.MenuImege{
	margin: 0 auto;
	padding: 0 9px;
	margin-bottom: 20px;
	margin-top: -7px;
	.column{
		padding: 0;
		margin: 0;
	}
	.MenuImege__item{
		height: 310px;
		overflow: hidden;
		float: left;
		transition: 0.2s;
		position: relative;
	    background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center!important;
		.MenuImege__item-img{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: 0.2s;
			background-repeat: no-repeat!important;
			background-position: center!important;
			  background-size: cover!important;
			&:hover{
			}
		}
		img{
			height: 100%;
			width: 100%;
		}
		&_big{
			height: 620px;
			text-align: right;
		}
		&_small{
			height: 310px;
		}
		&_md{
			height: 310px;
//			padding: 28px 25px;
			position: relative;
			.menu-imege-logo{
				width: 90px;
				margin: 0 auto;
				margin-top: 48px;
				margin-bottom: 9px;
				position: absolute;
				left: 0;
				right: 0;
			}
			.menu-imege-text{
				margin-bottom: 20px;
				position: absolute;
				left: 0;
				right: 0;
				top: 95px;
			}
			.menu-imege-btn{
				position: absolute;
				bottom: 68px;
				left: 0;
				right: 0;
				a{
					color: #fff;
					padding: 6px 25px;
					background: #ec5941;
					font-family: "ArialBold";
					display: inline-block;
				}
			}
			p{
				font-size: 30px;
				margin: 0;
				color: #ec5941;
				font-family: "ArialBold";
			}
			span{
				color: #fff;
				font-size: 26px;
				font-family: "ArialBold";
			}
		}
		
		&-text{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 10px 30px;
			background: rgba(53, 53, 53, 0.44);
			span{
				color: #fff;
				font-family: "ArialBold";
				text-transform: uppercase;
				font-size: 25px;
				transition: 0.2s;
			}
		}
		&:hover{
			transition: 0.2s;
			transform: scale(1.02);
			z-index: 99999;
			.MenuImege__item-text{
				span{
					color: #ec5941;
				}
				
			}
			.MenuImege__item-img{
					top: -50px;
				bottom: -50px;
				left: -50px;
				right: -50px;
				
			}
//			.blur{
//				filter: blur(4px);
//				-webkit-filter: blur(4px);
//			}
		}
	}

}

.menu-imege{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	max-width: 1240px;
	margin: 0 auto;
	margin-top: -7px;
	.small{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.menu-imege__item{
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center!important;
		
		&_big{
			height: 620px;
			text-align: right;
		}
		&_small{
			height: 310px;
		}
		&_md{
			height: 310px;
//			padding: 28px 25px;
			text-align: center;
			position: relative;
			.menu-imege-logo{
				width: 90px;
				margin: 0 auto;
				margin-top: 48px;
				margin-bottom: 9px;
				
			}
			.menu-imege-text{
				margin-bottom: 20px;
			}
			.menu-imege-btn{
				position: absolute;
				bottom: 68px;
				left: 0;
				right: 0;
				a{
					color: #fff;
					padding: 6px 25px;
					background: #ec5941;
					font-family: "ArialBold";
					display: inline-block;
				}
			}
			p{
				font-size: 30px;
				margin: 0;
				color: #ec5941;
				font-family: "ArialBold";
			}
			span{
				color: #fff;
				font-size: 26px;
				font-family: "ArialBold";
			}
		}
		&-text{
			padding: 10px 30px;
			background: rgba(53, 53, 53, 0.44);
			span{
				color: #fff;
				font-family: "ArialBold";
				text-transform: uppercase;
				font-size: 25px;
			}
		}
		&:hover{
			transition: 0.2s;
			transform: scale(1.02);
			z-index: 99999;
		}
	}
}

.products{
	
	max-width: 1260px;
	margin: 0 auto;
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	a{
		color: #000;
		transition: 0.2s;
	}
	.fa-caret-right{
		margin-left: 7px;
		vertical-align: middle;
	}
	&__btn{
		text-align: center;
		margin-top: 13px;
		position: relative;
		margin-bottom: 14px;
		transition: 0.2s;
		a{
			display: inline-block;
			color: #000;
			padding: 10px ;
			border: 1px solid #ccc; 
			font-family: "ArialBold";
			font-size: 17px;
			width: 220px;
			height: 47px;
			transition: 0.2s;
			&:hover{
				-webkit-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
				-moz-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
				box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
				background: #ec5941;
				color: #fff;
				
			}
		}
		.fa-caret-right{
			margin-left: 15px;
			vertical-align: middle;
			position: absolute;
			top: 15px;
		}
		
	}
	.products-item{
		border: 1px solid #ccc; 
		box-sizing: border-box;
		padding: 15px 0 20px 0;
		text-align: center;
		font-family: "ArialBold";
		line-height: 1;
		margin-bottom: 18px;
		transition: 0.2s;
		&__text{
			font-size: 21px;
			min-height: 65px;
			padding: 0px 50px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		
		&__img{
			min-height: 260px;
		}
		&__prise{
			font-size: 24px;
			margin-bottom: 12px;
		}
		&__more{
			font-size: 17px;
			a{
				color: #000;
				transition: 0.2s;
			}
		}
		&:hover{
			color: #ec5941;
			-webkit-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			-moz-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			a{
				color: #ec5941;
			}
		}
	}
	display: none;
	&.active{
		display: flex;
	}
}

.content-menu{
	text-align: center;
	padding: 30px 0 25px 0
}

.news{
	max-width: 1260px;
	margin: 0 auto;
	text-align: center;
	font-family: "ArialBold";
	line-height: 1;
	&_btn{
		text-align: center;
		a{
			display: inline-block;
			color: #000;
			padding: 10px ;
			border: 1px solid #ccc; 
			font-family: "ArialBold";
			font-size: 17px;
			width: 220px;
			height: 47px;
			line-height: 1.5;
			transition: 0.2s;
			&:hover{
				color: #fff;
				background: #ec5941;
				-webkit-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
				-moz-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
				box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			}
		}
		
	}
	.news_title{
		font-family: "ArialBold";
		font-size: 24px;
		padding: 20px 0 28px 0;
	}
	.news-item{
		margin-bottom: 18px;
//		padding-bottom: 18px;
		transition: 0.2s;
		&__img{
//			margin-bottom: 13px;
			img{
				width: 100%;
			}
		}
		&__text{
			border: 2px solid #ccc;
			border-top: none;
			padding: 0 10px;
			padding-top: 13px;
			p{
				font-size: 17px;
				line-height: 1.2;
				margin-bottom: 7px;
				color: #000;
			}
			span{
				font-size: 14px;
				color: #000;
			}
		}
		&__btn{
			padding: 19px 0;
			a{
				font-size: 13px;
				color: #000;
				display: inline-block;
				padding: 5px 10px;
				transition: 0.2s;
				box-sizing:inherit;
				text-decoration: none;
				border: 1px solid #fff;
				&:hover{ 
					border: 1px solid #ccc; 
				} 
			}
			.fa-caret-right{
				margin-left: 10px;
				vertical-align: middle;
				font-size: 18px;
			}
		
		}
		&:hover{
			
			-webkit-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			-moz-box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
			box-shadow: 0px 0px 25px 0px rgb(191, 191, 191);
		
		}
	}
}

.reviews{
	background-image: url(../../assets/images/reviews-bg.png);
	padding-bottom: 15px;
	&__title{
		text-align: center;
		font-size: 24px;
		padding: 10px 0;
		font-family: "ArialBold";
		text-transform: uppercase;
		margin: 26px 0 5px 0;
	}
	.reviews-item{
		padding: 20px 35px;
		text-align: center;
		&__foto{
			width: 110px;
			height: 110px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 auto;
			margin-bottom: 17px;
		}
		&__cont{
			background: rgba(255, 255, 255, 0.68);
			padding: 12px 20px 23px 20px;
			min-height: 175px;
			.name{
				font-family: "ArialBold";
				font-size: 21px;
			}
			.star{
				color: #ec5941;
				font-size: 20px;
				margin-bottom: 10px;
			}
			.coment{
//				padding: 10px;
				font-family: "ArialBoldItalic";
				font-size: 17px;
				line-height: 1.2;
			}
		}
	}
	.reviews-arrows{
		text-align: center;
		margin-top: -6px;
		margin-bottom: -15px;
	}
	.reviews-prew{
		transition: 0.2s;
		display: inline-block!important;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 18px 10px 0;
		border-color: transparent #ffffff transparent transparent;
		margin-right: 15px;
		cursor: pointer;
		&:hover{
			border-color: transparent #ec5941 transparent transparent;
		}
	}
	.reviews-next{
		transition: 0.2s;
		cursor: pointer;
		display: inline-block!important;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 0 10px 18px;
		border-color: transparent transparent transparent #ffffff;
		&:hover{
			border-color: transparent transparent transparent #ec5941;
		}
	}
	.reviews__btn{
		text-align: center;
		margin-bottom: 4px;
		a{
			display: inline-block;
			margin-top: 20px;
			padding: 15px 50px;
			background: rgba(255, 255, 255, 0.68);
			font-family: "ArialBold";
			font-size: 14px;
			color: #000;
			transition: 0.2s;
			&:hover{
				background: #ec5941;
				color: #fff;
			}
		}
	}
}


.footer{
	background-image: url(../../assets/images/footer-bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 40px 0 0px 0;
	min-height: 200px;
	&>.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		&:before{
			display: none;
		}
		&:after{
			display: none;
		}
	}
	p{
		color: #ec5941;
		font-family: "ArialBold";
		font-size: 17px;
		line-height: 1;
		margin-bottom: 10px;
	}
	span{
		color: #000;
		font-family: "ArialBold";
		font-size: 14px;
	}
	ul{
		list-style: none;
		margin: 0;
		
	}
	li{
		a{
			color: #000;
			font-family: "ArialBold";
			font-size: 14px;
			transition: 0.2s ;
		}
	}
	.footer-menu{
		li{
			padding: 5px;
			&:hover{
				a{
					color: #ec5941;
				}
				
			}
		}
	}
	.footer-contact{
		li{
			padding: 2px;
			margin-bottom: 16px;
			position: relative;
			&:before{
				left: -30px;
				top: 4px;
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #ec5941;
				position: absolute;
			}
			&:hover{
				a{
					color: #ec5941;
				}
				
			}
		}
	}
	.our-shops{
		li{
			padding: 3px;
			position: relative;
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 10px;
				left: -23px;
				width: 22px;
				height: 31px;
				background-image: url(../images/marker.png);
			}
		}
	}
	.footer-soc{
		overflow: hidden;
	}
	.fb-page{
		
	}
	.footer_text{
		padding-bottom: 80px;
		text-align: center;
		span{
			font-family: "ArialBold";
			font-size: 24px;
			color: #ec5941;
		}
	}
	.fb-mobile{
		text-align: right;
		padding-right: 9px;
		padding-bottom: 30px;
	}
}





@media screen and (max-width: 39.9375em) {
	
	.top-line-menu{
		padding-right: 0;
	}
	.top-line-lang{
		margin-left: 10px!important;
	}
	.top-line-text{
		display: none!important;
	}
	.top-line-tel{
		padding-left: 0;
	}
	.header .header__mid{
		padding: 10px;
		.logo{
			width: 81px;
		}
	}
	.header .header__bottom.fix{
		padding: 0;
	}
	.slider-wrap .slider-item .slider-item__text{
		bottom: 40px;
		font-size: 17px;
	}
	.registration__btn{
		margin-left: auto;
		right: 10px;
		bottom: 10px;
		position: absolute!important;
	}
	.slider-wrap .slider-item .slider-item__btn{
		bottom:10px;
		a{	
			padding: 5px 10px;
			font-size: 14px;
		}
	}
	.slider-wrap .prew {
		left: 5px;
	}
	.slider-wrap .next{
		right: 5px;
	}
	.top-line-text{
		display: none;
	}
	.cart__sum{
		display: none;
	}
	#header-menu{
		margin-left: -250px;
		display: block!important;
		position: absolute;
		transition: 0.5s;
		z-index: 99999999999;
		background: #fff;
		left: 0;
		top: 0;
		width: 250px;
		a{
			display: block;
			margin-bottom: 15px;
		}
		&.active{
			margin-left: 0;
		}
		&.fix{
			position: fixed;
			left: 0px;
			top: 35px;
		}
	}
	.footer{
		&>.row{
			text-align: center;
		}
	}
	
	.mob_open{
		display: block;
	}
	.menu-imege{
		.menu-imege__item{
			&_big{
				height: 400px;
				text-align: right;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.header .header__bottom.fix{
		padding: 0;
	}
	.slider-wrap .slider-item .slider-item__text{
		font-size: 30px;
		padding-left: 80px;
		padding-right: 20px;
	}
	.top-line-text{
		display: none!important;
	}
	.cart__sum{
		display: none;
	}
	.registration__btn{
		margin-left: auto;
		right: 10px;
		bottom: 10px;
		position: absolute!important;
	}
	#header-menu{
		margin-left: -250px;
		position: absolute;
		display: block!important;
		transition: 0.5s;
		z-index: 99999999999;
		background: #fff;
		left: 0;
		top: 0;
		width: 250px;
		a{
			display: block;
			margin-bottom: 15px;
		}
		&.active{
			margin-left: 0;
		}
	}
	.mob_open{
		display: block;
	}
	
//	.footer_text{
//		padding-bottom: 0!important;
//	}
	
	
	.menu-imege{
		.menu-imege__item{
			&_big{
				height: 400px;
				text-align: right;
			}
		}
	}
}

@media screen and (max-width: 1250px) {
//	.slider-wrap .slider-item .slider-item__text{
//		font-size: 25px;
//	}
	.menu a{
		font-size: 14px;
	}
	
}




















