include ./parts/head
include ./parts/header


include ./parts/slider

include ./parts/ImageMenu

include ./parts/ContentMenu

include ./parts/products

include ./parts/news

include ./parts/reviews


include ./parts/footer




